### Sequence Maps

S1 = 'sll' \
S2 = 'kjk' \
S3 = 'dkj' \
S4 and S5 are random

TODO: create a df with following cols: "email", 5x "rating for each sequence", their pass seq rating

In [34]:
pass_map = {
  'SLL': 'S1',
  'KJK': 'S2',
  'DKJ': 'S3',
}

1: Extract map between User ID and Email ID from auth_data \
2. Extract passwords for all User IDs from rtdb json \
3. Match passwords to Email IDs with map from 1 \
4. Check if Password is S1, S2 or S3 and store in a col \
5. Save df with columns: email, userID, ratings for S1 to S5, their sequence from 4

In [19]:
import json
with open('../data/auth_data.json') as f:
    auth_data = json.load(f)
userID_to_email = {}
for user in auth_data['users']:
    userID_to_email[user['localId']] = user['email']

In [ ]:
userID_to_email

In [20]:
firebase_data_path = '../data/neurocrypt-rtdb-export.json'
with open(firebase_data_path) as f:
    firebase_data = json.load(f)

In [25]:
userID_passwords = {}

In [26]:
for user in list(firebase_data.keys()):
    if user in userID_to_email:
        userID_passwords[user] = firebase_data[user]['passSeq']

In [36]:
import pandas as pd
import numpy as np

password_df = pd.DataFrame(index=np.arange(len(userID_passwords)), columns=['userID', 'email', 'passSeq', 'passShort'])
for i, user in enumerate(userID_passwords):
    password_df.loc[i] = [user, userID_to_email[user], userID_passwords[user], '']

In [42]:
# change password col from list of chars to string
password_df['passSeq'] = password_df['passSeq'].apply(lambda x: ''.join(x))
# if password is in pass_map, replace with the short version
password_df['passShort'] = password_df['passSeq'].apply(lambda x: pass_map.get(x[:3], x))

In [46]:
password_df

,userID,email,passSeq,passShort
0,0AT3q4mTMncZcXXdMv8pkQIXdqk1,vedika.bagla_ug24@ashoka.edu.in,DKJDFDLKSKDJSFKFFLFJLDJKLJSLSD,S3
1,267spXKQrOQxNGhW9Mj19RVBZnF3,suveer.kalra_ug2023@ashoka.edu.in,DKJDFDLKSKDJSFKFFLFJLDJKLJSLSD,S3
2,2IuHuexDUpgOdXCBYfDqO7ubtEC2,twinkle.madke_ug24@ashoka.edu.in,SLLJJLLDDKLKSKSJDJKJKFFKSFDLLF,S1
3,3YKJchZqXXPUm7ouoYwzWlTp4D53,priyanshi.singh_ug2023@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2
4,4SQKvEIUBucwuWNoKkOVBX30H1P2,anurav.singh_ug25@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2
...,...,...,...,...
82,umG8DQRaeVd6RPOJfoLKNdclG8e2,aarushi.basu_ug24@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2
83,wFRIlVm6H0N0WjSBNg3EMMaTf0H3,sucheta.mitra_ug24@ashoka.edu.in,DKJDFDLKSKDJSFKFFLFJLDJKLJSLSD,S3
84,xTyF5REL0bUIT99Hkx2YCWC75572,ramzan.agriya_asp24@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2
85,y00ZoK3RqXad5jH5FESwAXkd0Ki1,teesha.aurora_ug2023@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2
86,ydFbNfL3WSeGXeHYprAbWXhsihh2,khushi.mohta_ug25@ashoka.edu.in,KJKFLJDFKLDKSKDLSDSFFJSJLFDJLK,S2

In [48]:
password_df.to_csv('../data/passwords.csv', index=False)

In [56]:
modalities = ['A', 'C', 'V']

for m in modalities:
  modality_df = pd.read_csv(f'../data/NC_Explicit_{m}.csv')
  modality_df['passSeq'] = modality_df['Email Address'].apply(lambda x: password_df[password_df['email'] == x]['passShort'].values[0])
  modality_df.to_csv(f'../data/NC_Explicit_{m}p.csv', index=False)

In [57]:
modality_df

                                 Email Address  S1  S2  S3  S4  S5 passSeq
0           aarya.toshniwal_ug25@ashoka.edu.in   3   3   5   4   2      S3
1            tamanna.parikh_ug24@ashoka.edu.in   2   3   4   3   4      S3
2          kashish.bhargava_ug24@ashoka.edu.in   2   5   1   1   5      S2
3              akshat.arora_ug24@ashoka.edu.in   4   2   3   4   3      S1
4            pratyush.jha_ug2023@ashoka.edu.in   1   1   2   1   3      S3
5            dhwani.boricha_ug25@ashoka.edu.in   4   4   2   4   2      S3
6         raeyamare.mulu_ugt2023@ashoka.edu.in   5   5   4   5   5      S2
7           achyutha.athota_ug25@ashoka.edu.in   2   2   4   3   3      S3
8              isha.mahipal_ug25@ashoka.edu.in   5   2   2   4   3      S1
9        rudransh.mukherjee_ug24@ashoka.edu.in   3   3   3   1   5      S2
10            abhirami.nair_ug24@ashoka.edu.in   5   5   4   4   4      S1
11             susan.philip_ug24@ashoka.edu.in   3   2   3   4   3      S2
12               arav.patel_ug24@ashoka.edu.in   4   3   4   4   3      S2
13            sneha.lohia_ug2023@ashoka.edu.in   3   4   2   5   3      S2
14            prithvi.bapna_ug25@ashoka.edu.in   1   2   3   4   5      S3
15             vedika.bagla_ug24@ashoka.edu.in   4   2   4   3   4      S3
16              sneha.gupta_ug25@ashoka.edu.in   5   4   3   1   2      S2
17        vineet.karlapalem_ug25@ashoka.edu.in   3   4   2   3   1      S1
18  jyothirmayee.bommisetti_ug25@ashoka.edu.in   2   1   1   1   1      S2
19          prarthna.middha_ug25@ashoka.edu.in   5   5   5   4   3      S2
20        advaitha.sreedhar_ug24@ashoka.edu.in   3   4   2   5   2      S3
21    aarushi.ravishankar_ug2023@ashoka.edu.in   2   2   3   2   4      S2
22              tanush.guha_ug25@ashoka.edu.in   4   4   4   3   3      S1
23          teesha.aurora_ug2023@ashoka.edu.in   4   2   3   5   2      S2
24       sharvangi.bajpai_ug2023@ashoka.edu.in   2   3   4   3   2      S2
25        aditya.deshmukh_ug2023@ashoka.edu.in   4   3   4   2   4      S1
26         shivansh.verma_ug2023@ashoka.edu.in   4   2   2   1   1      S1